<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="tunnelIp" value="100.25.203.204" />
    <add key="tunnelIpStaging" value="18.207.139.191" />
    <add key="tunnelUser" value="forge" />
    <add key="tunnelKeyFile" value="staging_ssh_tunnel" />
    <add key="mysqlServer" value="127.0.0.1"/>
    <add key="mysqlDatabaseStaging" value="sakr_qb_staging" />
    <add key="mysqlPasswordStaging" value="ECm6G42bf3mKVvmjlu87"/>
    <add key="mysqlDatabase" value="qb_sync_production" />
    <add key="mysqlUser" value="forge" />
    <add key="mysqlPassword" value="qXLQho3qyxdNDTxCt3kn"/>
  </appSettings>
</configuration>
